doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Hapi Prototype
    link(rel='stylesheet', href='/style.css')
  body
    h1 Hapi Prototype
    include ../partials/nav
    block content
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/lodash/lodash.js')
