doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Hapi Tutorial
    link(rel='stylesheet', href='/style.css')
  body
    h1 Hapi Tutorial
    include ../partials/nav
    #content
      block content
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/lodash/lodash.js')
